 
<web-app>
<display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>com.panwar.Login</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>com.panwar.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AddExam</servlet-name>
  	<display-name>AddExam</display-name>
  	<description></description>
  	<servlet-class>com.panwar.AddExam</servlet-class>
  </servlet>
   <servlet-mapping>
  	<servlet-name>AddExam</servlet-name>
  	<url-pattern>/AddExam</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AddQuestion</servlet-name>
  	<display-name>AddQuestion</display-name>
  	<description></description>
  	<servlet-class>com.panwar.AddQuestion</servlet-class>
  </servlet>
  <servlet>
  	<display-name>UserLogin</display-name>
  	<servlet-name>UserLogin</servlet-name>
  	<servlet-class>com.panwar.UserLogin</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Exam</display-name>
  	<servlet-name>Exam</servlet-name>
  	<servlet-class>com.panwar.Exam</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Answers</display-name>
  	<servlet-name>Answers</servlet-name>
  	<servlet-class>com.panwar.Answers</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Result</display-name>
  	<servlet-name>Result</servlet-name>
  	<servlet-class>com.panwar.Result</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>RemoveExam</display-name>
  	<servlet-name>RemoveExam</servlet-name>
  	<servlet-class>com.panwar.RemoveExam</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddQuestion</servlet-name>
  	<url-pattern>/AddQuestion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserLogin</servlet-name>
  	<url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Exam</servlet-name>
  	<url-pattern>/Exam</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Answers</servlet-name>
  	<url-pattern>/Answers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Result</servlet-name>
  	<url-pattern>/Result</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveExam</servlet-name>
  	<url-pattern>/RemoveExam</url-pattern>
  </servlet-mapping>
</web-app>
